<div class="container-menu-voto">
    <div class="left">
        <h1>Menu de Votaciones</h1>
        <p>
            Por favor complete todos los campos vacíos correctamente para poder ingresar a votar.
        </p>
    </div>
    <div class="right">
        <form>
            <div class="form-group">
                <label for="tipo-documento">Tipo de documento</label>
                <select id="tipo-documento" name="tipo-documento">
                    <option value="" disabled selected>
                        Seleccione un Tipo de Documento
                    </option>
                    <option value="cc">Cédula de Ciudadanía</option>
                    <option value="ce">Carnet de Extranjería</option>
                    <option value="passport">Pasaporte</option>
                </select>
            </div>
            <div class="form-group">
                <label for="numero-documento">Número de documento</label>
                <input type="text" id="numero-documento" name="numero-documento"
                    placeholder="Ingrese su número de documento" />
            </div>
            <button type="submit">Ingresar</button>
        </form>
    </div>
</div>