<div class="container-menu-voto">
    <div class="left">
        <h1>Menu de Votaciones</h1>
        <p>
            Por favor complete todos los campos vacíos correctamente para poder ingresar a votar.
        </p>
    </div>
    <div class="right">
        <form (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="tipoDoc">Tipo de documento</label>
                <select id="tipoDoc" name="tipoDoc" [(ngModel)]="tipoDoc">
                    <option value="" disabled selected>Seleccione un Tipo de Documento</option>
                    <option value="TI">Tarjeta de Identidad</option>
                    <option value="CC">Cédula de Ciudadanía</option>
                    <option value="CE">Cedula de Extranjería</option>
                    <option value="PPT">Permiso por Protección Temporal</option>
                    <option value="PA">Pasaporte</option>
                </select>
            </div>
            <div class="form-group">
                <label for="numDoc">Número de documento</label>
                <input type="number" id="numDoc" name="numDoc" [(ngModel)]="numDoc" placeholder="Ingrese su número de documento" />
            </div>
            <button type="submit">Ingresar</button>
        </form>
    </div>
</div>
