<body>
    <div class="container">
        <h1>Gestión de Candidatos</h1>
        <div class="content">
            <div class="photo-section">
                <img src="assets/candidato.jpg" alt="Foto del Candidato" class="candidate-photo">
                <form>
                    <label for="archivo">Subir archivo:</label>
                    <input type="file" id="archivo-button" name="archivo-button">
                    <button class="upload-button" type="submit">Enviar</button>
                </form>
                <p>Nombre:</p>
                <p>Apellido:</p>
                <p>Telefono:</p>
                <p>Jornada:</p>
            </div>
            <div class="form-section">
                <label for="nombre">Nombre Completo:</label>
                <input type="text" id="nombre" name="nombre" placeholder="Ingrese el Nombre Completo del Candidato">
                
                <label for="perfil">Perfil:</label>
                <input type="text" id="perfil" name="perfil" placeholder="Ingrese el Perfil del Candidato">

                <label for="propuestas">Propuestas:</label>
                <textarea id="propuestas" name="propuestas" placeholder="Ingrese las Propuestas del Candidato"></textarea>

                <button class="submit-button">Registrar Candidato</button>
            </div>
        </div>
    </div>
</body>

