<div class="container-ingreso-voto">
    <h1>Papeleta de Votación</h1>
    <div class="candidatos">
        <div *ngFor="let candidato of candidatos; let i = index" class="candidato">
            <div class="candidato-header">Candidato N°{{i + 1}}</div>
            <img [src]="candidato.foto" [alt]="candidato.nombreCompleto">
            <div class="candidato-info">
                <p><strong>Nombre:</strong> {{candidato.nombreCompleto}}</p>
                <p><strong>Perfil:</strong> {{candidato.perfil}}</p>
                <p><strong>Propuesta:</strong> {{candidato.propuestas}}</p>
            </div>
            <input type="radio" [id]="'candidato' + i" name="candidatoSeleccionado" [value]="candidato._id"
                [(ngModel)]="candidatoSeleccionadoId">
            <label [for]="'candidato' + i">Seleccionar</label>
        </div>
    </div>
    <button (click)="confirmarVoto()" [disabled]="!candidatoSeleccionadoId">Votar</button>
</div>