
    <div class="container-ingreso-voto">
        <h1>Menú de Candidatos</h1>
        <div class="candidatos">
            <div class="candidato">
                <div class="candidato-header">Candidato N°1</div>
                <img src="assets/candidato.jpg" alt="Candidato 1">
                <div class="candidato-info">
                    <p><strong>Nombre:</strong></p>
                    <p><strong>Jornada:</strong></p>
                    <p><strong>Titulada:</strong></p>
                    <p><strong>Propuesta:</strong></p>
                </div>
            </div>
            <div class="candidato">
                <div class="candidato-header">Candidato N°2</div>
                <img src="assets/candidato.jpg" alt="Candidato 2">
                <div class="candidato-info">
                    <p><strong>Nombre:</strong></p>
                    <p><strong>Jornada:</strong></p>
                    <p><strong>Titulada:</strong></p>
                    <p><strong>Propuesta:</strong></p>
                </div>
            </div>
            <div class="candidato">
                <div class="candidato-header">Candidato N°3</div>
                <img src="assets/candidato.jpg" alt="Candidato 3">
                <div class="candidato-info">
                    <p><strong>Nombre:</strong></p>
                    <p><strong>Jornada:</strong></p>
                    <p><strong>Titulada:</strong></p>
                    <p><strong>Propuesta:</strong></p>
                </div>
            </div>
        </div>
        <button type="submit">Votar</button>
    </div>
