<div class="contenedor-formulario">
    <form [formGroup]="adminForm" (ngSubmit)="onSubmit()" class="formulario-personalizado">
        <h2 class="titulo">Registro de Administrador</h2>
        <p class="mensaje">Complete los siguientes detalles para registrarse como administrador.</p>

        <div class="grid-campos">
            <div class="campo">
                <input type="text" id="nombre" formControlName="nombre" required>
                <label for="nombre">Nombre</label>
                <div *ngIf="isInvalid('nombre')" class="error-mensaje">
                    {{ getErrorMessage('nombre') }}
                </div>
            </div>
            <div class="campo">
                <input type="text" id="apellido" formControlName="apellido" required>
                <label for="apellido">Apellido</label>
                <div *ngIf="isInvalid('apellido')" class="error-mensaje">
                    {{ getErrorMessage('apellido') }}
                </div>
            </div>
            <div class="campo">
                <select id="tipoDoc" formControlName="tipoDoc" required>
                    <option value="" disabled selected>Seleccione su Tipo de Documento...</option>
                    <!-- Opciones de tipo de documento... -->
                    <option value="CC">Cédula de Ciudadanía</option>
                    <option value="CE">Cédula de Extranjería</option>
                    <option value="TI">Tarjeta de Identidad</option>
                    <option value="RC">Registro Civil</option>
                    <option value="PA">Pasaporte</option>
                    <option value="PPT">Permiso por Protección Temporal</option>
                    <option value="DNI">Documento Nacional de Identidad</option>
                    <option value="NIT">Número de Identificación Tributaria</option>
                    <option value="LM">Libreta Militar</option>
                    <option value="PEP">Permiso Especial de Permanencia</option>
                    <option value="VC">Visa Colombiana</option>
                    <option value="DE">Documento de Extranjería</option>
                    <option value="CR">Contraseña Registraduría</option>
                    <option value="CI">Cédula de Identidad</option>
                    <option value="TP">Tarjeta Profesional</option>
                    <option value="CD">Carné Diplomático</option>
                    <option value="SC">Salvoconducto</option>
                    <option value="OT">Otro</option>
                </select>
                <label for="tipoDoc">Tipo de documento</label>
                <div *ngIf="isInvalid('tipoDoc')" class="error-mensaje">
                    {{ getErrorMessage('tipoDoc') }}
                </div>
            </div>
            <div class="campo">
                <input type="number" id="numDoc" formControlName="numDoc" required min="10000" max="9999999999">
                <label for="numDoc">Número de documento</label>
                <div *ngIf="isInvalid('numDoc')" class="error-mensaje">
                    {{ getErrorMessage('numDoc') }}
                </div>
            </div>
            <div class="campo">
                <input type="password" id="contrasena" formControlName="contrasena" required>
                <label for="contrasena">Contraseña</label>
                <div *ngIf="isInvalid('contrasena')" class="error-mensaje">
                    {{ getErrorMessage('contrasena') }}
                </div>
            </div>
            <div class="campo">
                <input type="email" id="correo" formControlName="correo" required>
                <label for="correo">Email</label>
                <div *ngIf="isInvalid('correo')" class="error-mensaje">
                    {{ getErrorMessage('correo') }}
                </div>
            </div>
            <div class="campo">
                <select id="cargo" formControlName="cargo" required>
                    <option value="" disabled selected>Seleccione su rol...</option>
                    <!-- Opciones de cargo... -->
                    <option value="sin_cargo">Sin cargo asignado</option>
                    <option value="organizador">Organizador</option>
                    <option value="supervisor">Supervisor</option>
                    <option value="auditor">Auditor</option>
                    <option value="participante">Participante</option>
                    <option value="observador">Observador</option>
                    <option value="coordinador">Coordinador</option>
                    <option value="coordinador_colegio">Coordinador de Colegio</option>
                    <option value="director">Director</option>
                    <option value="director_colegio">Director de Colegio</option>
                    <option value="rector">Rector</option>
                    <option value="docente">Docente</option>
                    <option value="estudiante">Estudiante</option>
                    <option value="padre_familia">Padre de Familia</option>
                    <option value="analista">Analista</option>
                    <option value="tecnico">Técnico</option>
                    <option value="administrador_sistema">Administrador de Sistema</option>
                    <option value="representante_comunidad">Representante de la Comunidad</option>
                    <option value="voluntario">Voluntario</option>
                    <option value="otro">Otro</option>
                </select>
                <label for="cargo">Rol</label>
                <div *ngIf="isInvalid('cargo')" class="error-mensaje">
                    {{ getErrorMessage('cargo') }}
                </div>
            </div>
        </div>

        <div *ngIf="adminForm.hasError('passwordContainsName')" class="error-mensaje">
            {{ getErrorMessage('') }}
        </div>

        <button type="submit" class="enviar" [disabled]="adminForm.invalid">Registrar</button>
        <p class="inicio-sesion">¿Ya tienes una cuenta? <a href="login">Iniciar sesión</a></p>
    </form>
</div>