<div class="contenedor-formulario">
    <form [formGroup]="adminForm" (ngSubmit)="onSubmit()" class="formulario-personalizado">
        <h2 class="titulo">Registro de Administrador</h2>
        <p class="mensaje">Complete los siguientes detalles para registrarse como administrador.</p>

        <div class="grid-campos">
            <div class="campo">
                <input type="text" id="nombre" formControlName="nombre" required>
                <label for="nombre">Nombre</label>
            </div>
            <div class="campo">
                <input type="text" id="apellido" formControlName="apellido" required>
                <label for="apellido">Apellido</label>
            </div>
            <div class="campo campo-completo">
                <select id="tipoDoc" formControlName="tipoDoc" required>
                    <option value="" disabled selected></option>
                    <option value="CC">Cédula de Ciudadanía</option>
                    <option value="CE">Cédula Extranjera</option>
                    <option value="PPT">Permiso por Protección Temporal</option>
                    <option value="PA">Pasaporte</option>
                </select>
                <label for="tipoDoc">Tipo de documento</label>
            </div>
            <div class="campo">
                <input type="text" id="numDoc" formControlName="numDoc" required>
                <label for="numDoc">Número de documento</label>
            </div>
            <div class="campo">
                <input type="password" id="contrasena" formControlName="contrasena" required>
                <label for="contrasena">Contraseña</label>
            </div>
            <div class="campo">
                <input type="email" id="correo" formControlName="correo" required>
                <label for="correo">Email</label>
            </div>
            <div class="campo">
                <input type="text" id="cargo" formControlName="cargo" required>
                <label for="cargo">Cargo</label>
            </div>
        </div>

        <button type="submit" class="enviar" [disabled]="adminForm.invalid">Registrar</button>
        <p class="inicio-sesion">¿Ya tienes una cuenta? <a href="#">Iniciar sesión</a></p>
    </form>
</div>