<div class="container">
    <div class="main-card">
        <div class="info">
            <div class="section">
                <h3 class="title"><strong>¿Quiénes Somos?</strong></h3>
                <p class="text">Somos un software de votaciones, tenemos como herramienta digital la facilitación de gestión de procesos electorales. Permite a los ciudadanos emitir su voto de forma electrónica, segura y transparente.</p>
            </div>

            <div class="section">
                <h3 class="title"><strong>Nuestros Beneficios</strong></h3>
                <ul class="list">
                    <li>Eficiencia: Agiliza el proceso de votación y reduce el tiempo de espera para los votantes.</li>
                    <li>Seguridad: Protege la integridad del voto y evita el fraude electoral.</li>
                    <li>Transparencia: Permite un seguimiento del proceso electoral por parte de los ciudadanos y las autoridades.</li>
                    <li>Accesibilidad: Facilita el voto a personas con discapacidades.</li>
                    <li>Costo: Puede ser más económico que los sistemas tradicionales de votación.</li>
                </ul>
            </div>
        </div>

        <div class="info">
            <div class="section">
                <h3 class="title"><strong>Tipos de Sistemas</strong></h3>
                <ul class="list">
                    <li>Voto electrónico a través de internet: los ciudadanos votan desde cualquier dispositivo con acceso a internet.</li>
                </ul>
            </div>

            <div class="section">
                <h3 class="title"><strong>Componentes</strong></h3>
                <ul class="list">
                    <li>Software de gestión de votantes: Registra a los votantes y verifica su identidad.</li>
                    <li>Software de emisión de votos: Permite a los ciudadanos emitir su voto de forma electrónica.</li>
                    <li>Software de escrutinio: Cuenta los votos y genera los resultados oficiales.</li>
                </ul>
            </div>

            <div class="section security">
                <h3 class="title"><strong>Seguridad</strong></h3>
                <p class="text">Los sistemas de software para votaciones deben garantizar la seguridad del voto mediante medidas como:</p>
                <ul class="list">
                    <li>Cifrado de datos: Protección de la información de los votantes.</li>
                    <li>Autenticación de votantes: Verificación de la identidad de los votantes.</li>
                    <li>Auditoría: Posibilidad de verificar la integridad del proceso electoral.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
