<div class="container">
    <h3 class="subtitulo1"><strong>Quienes Somos?</strong></h3>
    <p class="parrafo1">Somos un software de votaciones, tenemos como herramienta digital la facilitacion de gestion de
        procesos electorales.
        Permite a los ciudadanos emitir su voto de forma electronica, segura y transparente.
    </p>

    <h3 class="subtitulo2"><strong>Nuestros Beneficios</strong></h3>
    <div class="lista">
        <ul>
            <li>Eficiencia: Agiliza el proceso de votacion y reduce el tiempode espera para los votantes.</li>
            <li>Seguridad: Protege la integridad del voto y evita el fraude electoral.</li>
            <li>Transparancia: Permite un seguimiento del proceso electoral por parte de los ciudadanos y las
                autoridades.</li>
            <li>Accesibilidad: Facilita el voto a personas con discapacidades.</li>
            <li>Costo: Puede ser mas economico que los sistemas tradicionales de votacion</li>
        </ul>
    </div>

    <h3 class="subtitulo3"><strong>Tipos de sistemas</strong></h3>
    <div class="lista2">
        <ul>
            <li>Voto electronico a traves de internet: los ciudadanos votan desde cualquier dispositivo con acceso a
                internet.</li>
        </ul>
    </div>

    <h3 class="subtitulo4"><strong>Componentes</strong></h3>
    <div class="lista3">
        <ul>
            <li>Software de gestion de votantes: Registra a los votantes y verifica su identidad.</li>
            <li>Software de emision de votos: Permite a los ciudadanos emitir su voto de forma electronica.</li>
            <li>Software de escrutinio: Cuenta los votos y genera los resultados oficiales.</li>
        </ul>
    </div>

    <h3 class="subtitulo5"><strong>Seguridad</strong></h3>
    <p class="parrafo2">Los sistemas de software para votaciones deben garantizar la seguridad del voto mediante medidas
        como:</p>
    <div class="lista4">
        <ul>
            <li>Cifrado de datos: Proteccion de la informacion de los votantes.</li>
            <li>Autenticacion de votantes: Verificacion de la identidad de los votantes.</li>
            <li>Auditoria: Posibilidad de verificar la integridad del proceso electoral.</li>
        </ul>
    </div>
</div>