<section class="content">
    <div class="lista-container">
        <h2 class="title">Lista de Usuarios</h2>
        <div class="actions-container">
            <div class="download-section">
                <p>Si no tiene la plantilla, descárguela aquí:</p>
                <a href="../../../assets/Plantilla de Gestion de Usuarios VotaSoft.xlsx" download>
                    <button class="button button-green">
                        <i class="fas fa-download"></i> Descargar
                    </button>
                </a>
            </div>
            <div class="upload-search-container">
                <div class="upload-container">
                    <label for="archivo" class="button button-green">
                        <i class="fas fa-file-upload"></i> Agregar archivo
                    </label>
                    <input accept=".xlsx" class="input" name="archivo" id="archivo" type="file" (change)="onFileChange($event)" hidden>
                    <button (click)="uploadFile()" class="button button-green">Subir</button>
                </div>
                <div class="search-container">
                    <input placeholder="Buscar..." id="input" class="input" name="text" type="text" [(ngModel)]="searchText">
                    <i class="fas fa-search search-icon"></i>
                </div>
            </div>
            <button class="button button-red" *ngIf="anySelected()" (click)="eliminarUsuariosSeleccionados()">
                <i class="fas fa-trash-alt"></i> Eliminar Seleccionados
            </button>
        </div>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>
                            <input type="checkbox" (change)="toggleSelectAll($event)" id="selectAll">
                        </th>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Tipo de Documento</th>
                        <th>Numero de Documento</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let usuario of usuarios | filter:searchText | paginate: { itemsPerPage: 20, currentPage: p }">
                        <td><input type="checkbox" [(ngModel)]="usuario.selected"></td>
                        <td>{{ usuario.nombre }}</td>
                        <td>{{ usuario.apellidos }}</td>
                        <td>{{ usuario.tipoDoc }}</td>
                        <td>{{ usuario.numDoc }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="pagination-container">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</section>