<div class="container">
    <div class="header-section">
        <div class="text-section">
            <h1>Bienvenido al Sistema de Votaciones</h1>
            <p>Administra tu proceso electoral de manera eficiente y segura con VotaSoft.</p>
        </div>
        <div class="logo-section">
            <div class="logo-box">
                <img src="assets/menu.jpeg" alt="Logo VOTASOFT" class="logo">
            </div>
        </div>
    </div>
    <div class="cards-section">
        <a href="lista-candidato" class="card">
            <div class="card-body">
                <i class="fas fa-user-tie feature-icon"></i>
                <h5 class="card-title">Gestión de Candidatos</h5>
                <p class="card-text">Administra la información de los candidatos para las elecciones.</p>
            </div>
        </a>
        <a href="lista-eleccion" class="card">
            <div class="card-body">
                <i class="fas fa-vote-yea feature-icon"></i>
                <h5 class="card-title">Gestión de Elecciones</h5>
                <p class="card-text">Configura y administra los procesos electorales.</p>
            </div>
        </a>
        <a href="gestion-usuarios" class="card">
            <div class="card-body">
                <i class="fas fa-users feature-icon"></i>
                <h5 class="card-title">Gestión de Usuarios</h5>
                <p class="card-text">Administra las cuentas y permisos de los usuarios del sistema.</p>
            </div>
        </a>
        <a href="gestion-resultados" class="card">
            <div class="card-body">
                <i class="fas fa-chart-bar feature-icon"></i>
                <h5 class="card-title">Gestión de Resultados</h5>
                <p class="card-text">Visualiza y analiza los resultados de las elecciones.</p>
            </div>
        </a>
        <a href="menu-voto" class="card">
            <div class="card-body">
                <i class="fas fa-check-square feature-icon"></i>
                <h5 class="card-title">Menú de Voto</h5>
                <p class="card-text">Accede al sistema de votación para emitir tu voto.</p>
            </div>
        </a>
    </div>
</div>