.lista-container {
    max-width: 100%;
    width: 90%;
    background-color: rgb(230, 230, 230);
    padding: 2.5rem;
    margin: 5rem auto; /* Centrado horizontal y espacio en la parte superior */
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); /* Sombra suave para dar profundidad */
    border-radius: 0.5rem; /* Bordes redondeados */
    box-sizing: border-box;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

h2 {
    font-size: 2rem; /* Tamaño del título */
    color: #333;
    margin: 0;
}

button.btn {
    font-size: 1.2rem;
    padding: 0.8rem 2rem;
    border-radius: 0.5rem;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    text-decoration: none;
}

button.btn:hover {
    background-color: #0056b3;
}

.table-responsive {
    width: 100%;
    margin-top: 2rem;
    overflow-x: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table-hover tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.05); /* Efecto hover en filas */
}

.thead-dark th {
    background-color: #343a40;
    color: white;
    text-align: left;
    padding: 1rem;
    font-size: 1.2rem;
}

td, th {
    padding: 1rem;
    font-size: 1.1rem;
    border-bottom: 0.1rem solid #ddd;
    text-align: left;
}

img.img-thumbnail {
    width: auto;
    height: 6rem;
    border-radius: 0.5rem;
}

.edit-icon, .delete-icon {
    font-size: 1.5rem;
    cursor: pointer;
    margin-right: 1rem;
}

.edit-icon:hover {
    color: #ffcc00;
}

.delete-icon:hover {
    color: #ff4d4d;
}

/* Responsivo */
@media (max-width: 768px) {
    .d-flex {
        flex-direction: column;
        align-items: flex-start;
    }

    .table-responsive {
        overflow-x: auto;
    }

    h2 {
        margin-bottom: 1rem;
        text-align: center;
    }

    button.btn {
        width: 100%;
        text-align: center;
        padding: 1rem;
        font-size: 1.4rem;
    }
}
